<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>Henrik Nyh</title>
    <meta name="viewport" content="width=device-width">

    <link rel="shortcut icon" href="/favicon.png">
    <link href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,400" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="/media/css//normalize.css">
    <link rel="stylesheet" href="/media/css/main.css">
    <script src="js/vendor/modernizr-2.6.2.min.js"></script>
  </head>
  <body>
    <div class="page">

      <header>
        <img src="/pug.png" alt="" class="the-pug">
      </header>

      <section class="content" style="font-family:STHeiti Light">
        <p>Hi~ 我是<b>胡岱</b>, 目前是一名程序媛.</p>

        <p>我的博客在 <a href="/cn/">中文</a>|<a href="/en/">English</a>.</p>
        <p>
        我在武汉学习和工作.</p>
        <p>这个博客主要被用来记录一些不负责任的观点与见闻</p>
        <p>ps. 这绝不是一个技术博客. </p>
        <p>Contact me at <a href="http://weibo.com/nonamehd"><span class="at">@</span>trip四另外一个我</a> or <a href="mailto:nonamehd@163.com">nonamehd<span class="at">@</span>163.com</a>.</p>
      </section>

      <footer>
        <p class="weird-character">HD</p>
      </footer>
    </div>
  </body>
</html>
